<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.cjs" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <iisnode devErrorsEnabled="true" node_env="production" />
  </system.webServer>
</configuration>
